@using System.Security.Cryptography.Xml
@model Projects.ViewModels.EmpresaViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" id="detalhes">
    <div class="row text-left">
        @using (Html.BeginForm("Salvar", "Empresa", FormMethod.Post, new { enctype = "application/json" }))
        {
            <div class="col-lg-12">
                <div class="row">
                    <fieldset>
                        <legend>Dados Principais</legend>
                        <div class="col-lg-3 div">
                            <fieldset>
                                <legend class="text-left">@Html.DisplayNameFor(m => m.cnpj)</legend>
                                @Html.TextBoxFor(m => m.cnpj, new { @readonly = true })
                            </fieldset>
                        </div>

                        <div class="col-lg-6 div">
                            <fieldset>
                                <legend class="text-left">@Html.DisplayNameFor(m => m.nome)</legend>
                                @Html.TextBoxFor(m => m.nome, new { @readonly = true })
                            </fieldset>
                        </div>

                        <div class="col-lg-3 div">
                            <fieldset>
                                <legend class="text-left">@Html.DisplayNameFor(m => m.ultima_atualizacao)</legend>
                                @Html.TextBoxFor(m => m.ultima_atualizacao, new { @readonly = true, @class = "date" })
                            </fieldset>
                        </div>

                        <div class="col-lg-3 div">
                            <fieldset>
                                <legend class="text-left">@Html.DisplayNameFor(m => m.abertura)</legend>
                                @Html.TextBoxFor(m => m.abertura, new { @readonly = true })
                            </fieldset>
                        </div>

                        <div class="col-lg-3 div">
                            <fieldset>
                                <legend class="text-left">@Html.DisplayNameFor(m => m.situacao)</legend>
                                @Html.TextBoxFor(m => m.situacao, new { @readonly = true })
                            </fieldset>
                        </div>

                        <div class="col-lg-3 div">
                            <fieldset>
                                <legend class="text-left">@Html.DisplayNameFor(m => m.data_situacao)</legend>
                                @Html.TextBoxFor(m => m.data_situacao, new { @readonly = true })
                            </fieldset>
                        </div>

                        <div class="col-lg-3 div">
                            <fieldset>
                                <legend class="text-left">@Html.DisplayNameFor(m => m.tipo)</legend>
                                @Html.TextBoxFor(m => m.tipo, new { @readonly = true })
                            </fieldset>
                        </div>
                    </fieldset>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="row">
                    <fieldset>
                        <legend>Demais Informações</legend>
                        <div class="col-lg-6 div">
                            <fieldset>
                                <legend class="text-left">@Html.DisplayNameFor(m => m.natureza_juridica)</legend>
                                @Html.TextBoxFor(m => m.natureza_juridica, new { @readonly = true })
                            </fieldset>
                        </div>

                        <div class="col-lg-6 div">
                            <fieldset>
                                <legend class="text-left">@Html.DisplayNameFor(m => m.fantasia)</legend>
                                @Html.TextBoxFor(m => m.fantasia, new { @readonly = true })
                            </fieldset>
                        </div>

                        <div class="col-lg-3 div">
                            <fieldset>
                                <legend class="text-left">@Html.DisplayNameFor(m => m.motivo_situacao)</legend>
                                @Html.TextBoxFor(m => m.motivo_situacao, new { @readonly = true })
                            </fieldset>
                        </div>

                        <div class="col-lg-3 div">
                            <fieldset>
                                <legend class="text-left">@Html.DisplayNameFor(m => m.data_situacao_especial)</legend>
                                @Html.TextBoxFor(m => m.data_situacao_especial, new { @readonly = true })
                            </fieldset>
                        </div>

                        <div class="col-lg-3 div">
                            <fieldset>
                                <legend class="text-left">@Html.DisplayNameFor(m => m.efr)</legend>
                                @Html.TextBoxFor(m => m.efr, new { @readonly = true })
                            </fieldset>
                        </div>

                        <div class="col-lg-3 div">
                            <fieldset>
                                <legend class="text-left">@Html.DisplayNameFor(m => m.capital_social)</legend>
                                @Html.TextBoxFor(m => m.capital_social, new { @readonly = true, @class = "real" })
                            </fieldset>
                        </div>
                    </fieldset>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="row">
                    <fieldset>
                        <legend>Endereço Comercial</legend>
                        <div class="col-lg-3 div">
                            <fieldset>
                                <legend class="text-left">@Html.DisplayNameFor(m => m.cep)</legend>
                                @Html.TextBoxFor(m => m.cep, new { @readonly = true, @class = "cep" })
                            </fieldset>
                        </div>

                        <div class="col-lg-6 div">
                            <fieldset>
                                <legend class="text-left">@Html.DisplayNameFor(m => m.logradouro)</legend>
                                @Html.TextBoxFor(m => m.logradouro, new { @readonly = true })
                            </fieldset>
                        </div>

                        <div class="col-lg-3 div">
                            <fieldset>
                                <legend class="text-left">@Html.DisplayNameFor(m => m.numero)</legend>
                                @Html.TextBoxFor(m => m.numero, new { @readonly = true })
                            </fieldset>
                        </div>

                        <div class="col-lg-3 div">
                            <fieldset>
                                <legend class="text-left">@Html.DisplayNameFor(m => m.complemento)</legend>
                                @Html.TextBoxFor(m => m.complemento, new { @readonly = true })
                            </fieldset>
                        </div>

                        <div class="col-lg-3 div">
                            <fieldset>
                                <legend class="text-left">@Html.DisplayNameFor(m => m.bairro)</legend>
                                @Html.TextBoxFor(m => m.bairro, new { @readonly = true })
                            </fieldset>
                        </div>

                        <div class="col-lg-3 div">
                            <fieldset>
                                <legend class="text-left">@Html.DisplayNameFor(m => m.municipio)</legend>
                                @Html.TextBoxFor(m => m.municipio, new { @readonly = true })
                            </fieldset>
                        </div>

                        <div class="col-lg-3 div">
                            <fieldset>
                                <legend class="text-left">@Html.DisplayNameFor(m => m.uf)</legend>
                                @Html.TextBoxFor(m => m.uf, new { @readonly = true })
                            </fieldset>
                        </div>
                    </fieldset>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="row">
                    <fieldset>
                        <legend>Contato</legend>
                        <div class="col-lg-3 div">
                            <fieldset>
                                <legend class="text-left">@Html.DisplayNameFor(m => m.telefone)</legend>
                                @Html.TextBoxFor(m => m.telefone, new { @readonly = true })
                            </fieldset>
                        </div>

                        <div class="col-lg-3 div">
                            <fieldset>
                                <legend class="text-left">@Html.DisplayNameFor(m => m.email)</legend>
                                @Html.TextBoxFor(m => m.email, new { @readonly = true })
                            </fieldset>
                        </div>
                    </fieldset>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="row">
                    <fieldset>
                        <legend>Atividade Principal</legend>
                        @for (var i = 0; i < Model.atividade_principal.Count; i++)
                        {
                            <div class="col-lg-9">
                                <fieldset>
                                    <legend class="text-left">@Html.DisplayNameFor(modelItem => Model.atividade_principal[@i].text)</legend>
                                    <input name="atividade_principal[@i][text]" value="@Model.atividade_principal[@i].text "/>
                                </fieldset>
                            </div>

                            <div class="col-lg-3">
                                <fieldset>
                                    <legend class="text-left">@Html.DisplayNameFor(modelItem => Model.atividade_principal[@i].code)</legend>
                                    <input name="atividade_principal[@i][code]" value="@Model.atividade_principal[@i].code " />
                                </fieldset>
                            </div>
                        }
                    </fieldset>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="row">
                    <fieldset>
                        <legend>Atividades Secundárias</legend>
                        @for (var i = 0; i < Model.atividades_secundarias.Count; i++)
                        {
                            <div class="col-lg-9">
                                <fieldset>
                                    <legend class="text-left">@Html.DisplayNameFor(modelItem => Model.atividades_secundarias[@i].text)</legend>
                                    @Html.TextBoxFor(modelItem => Model.atividades_secundarias[@i].text, new { @readonly = true })
                                </fieldset>
                            </div>

                            <div class="col-lg-3">
                                <fieldset>
                                    <legend class="text-left">@Html.DisplayNameFor(modelItem => Model.atividades_secundarias[@i].code)</legend>
                                    @Html.TextBoxFor(modelItem => Model.atividades_secundarias[@i].code, new { @readonly = true })
                                </fieldset>
                            </div>
                        }
                    </fieldset>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="row">
                    <fieldset>
                        <legend>Sócios</legend>
                        @for (var i = 0; i < Model.qsa.Count; i++)
                        {
                            <div class="col-lg-6">
                                <fieldset>
                                    <legend class="text-left">@Html.DisplayNameFor(modelItem => Model.qsa[@i].nome)</legend>
                                    @Html.TextBoxFor(modelItem => Model.qsa[@i].nome, new { @readonly = true })
                                </fieldset>
                            </div>

                            <div class="col-lg-6">
                                <fieldset>
                                    <legend class="text-left">@Html.DisplayNameFor(modelItem => Model.qsa[@i].qual)</legend>
                                    @Html.TextBoxFor(modelItem => Model.qsa[@i].qual, new { @readonly = true })
                                </fieldset>
                            </div>

                            <div class="col-lg-6">
                                <fieldset>
                                    <legend class="text-left">@Html.DisplayNameFor(modelItem => Model.qsa[@i].nome_rep_legal)</legend>
                                    @Html.TextBoxFor(modelItem => Model.qsa[@i].nome_rep_legal, new { @readonly = true })
                                </fieldset>
                            </div>

                            <div class="col-lg-6">
                                <fieldset>
                                    <legend class="text-left">@Html.DisplayNameFor(modelItem => Model.qsa[@i].qual_rep_legal)</legend>
                                    @Html.TextBoxFor(model => Model.qsa[@i].qual_rep_legal, new { @readonly = true })
                                </fieldset>
                            </div>

                            <div class="col-lg-12">
                                <hr class="line" />
                            </div>
                        }
                    </fieldset>
                </div>
            </div>

            <div class="col-lg-12 div text-right">
                <input class="btn" type="submit" value="Salvar" />
            </div>
        }
    </div>
</div>